# vagrant releated files
\.vagrant
*.log

# generated SSL certificates for Vagrant VMs
/ssl-certs/

# eclipse IDE files
.settings/
.project
.classpath
/.apt_generated/
/.apt_generated_tests/
target/
/target\generated-sources\annotations/

# configuration files that should not be made public
src/main/resources/si2.yaml

# thumbnail directory for thumbnail node
thumbs/
