<!-- logback configuration -->
<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder 
			by default -->
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} [%file:%line] - %msg%n</pattern>
		</encoder>
	</appender>
	
	<appender name="ASYNC_STDOUT" class="ch.qos.logback.classic.AsyncAppender">
		<appender-ref ref="STDOUT" />
		<includeCallerData>true</includeCallerData>
	</appender>
	
	<root level="${root-level:-DEBUG}">
		<appender-ref ref="ASYNC_STDOUT" />
	</root>
	
	<logger name="org.mongodb.driver" level="WARN" />
	<logger name="com.orbitz.consul" level="WARN" />
</configuration>
