storage "consul" {
  address = "{{ consul_server }}:8500"
  path    = "vault/"
}

listener "tcp" {
  address     = "127.0.0.1:8200"
  tls_disable = 1
}

listener "tcp" {
  address     = "{{ bind_ip }}:8200"
  {% if tls %}
  tls_cert_file = "/etc/vault.d/vault-cert.pem"
  tls_key_file = "/etc/vault.d/vault-key.pem"
  {% else %}
  tls_disable = 1
  {% endif %}
}


ui = true
